[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wurlitzer = "*"
tensorflow = "*"
keras = "*"
ml-dtypes = "*"
pydantic = "*"
huggingface-hub = "*"
opencv-python = "*"
pandas = "*"
tifffile = {extras = ["all"], version = "*"}

[dev-packages]

[requires]
python_version = "3.12"
